package com.boissinot.jenkins.csvexporter.domain.generated;

import org.springframework.stereotype.Component;

/**
 * @author Gregory Boissinot
 * @javax.annotation.Generated("{{OriginClassName}}")
 */
@Component("outputObj")
public class {{Class}} extends com.boissinot.jenkins.csvexporter.domain.OutputCSVJobObj {

    public String[] getNames() {
        return {{Names}};
    }

    public String getNameLabels() {
        return "{{NameLabels}}";
    }
}